<ul class="nav nav-tabs nav-stacked sidepanel hidden-sm hidden-xs visible-md visible-lg" ng-style="{'background-color': myColorSide}">
    <li><a href="#dashboard">Dashboard <span class="badge bg-primary pull-right">15</span></a> </li>
    <li><a href="#about">Mugs <span class="badge bg-success pull-right">20</span></a></li>
    <li><a href="#contact">scalfs </a></li>
    <li><a href="#contact">Tee </a></li>
    <li><a href="#about">Mugs </a></li>
    <li><a href="#contact">scalfs </a></li>


</ul>