                   <div  id="Theampanelbtn" ng-click="showDetails = ! showDetails"><h3 class="glyphicon glyphicon-cog"></h3></div>
                                <div  id="Theampanel" ng-show="showDetails">
                                    <div class="settingheading"> <p class="settingh">Setting</p></div>
                                   <div class="alltheamoption">
                                       <table class="table">
                                       <tr>
                                                <td colspan="1">
                                                    <label>Nav</label>
                                                </td>
                                                <td colspan="3">
                                                   <div class="form-inline">


                                                        <div class="btn-group" role="group">
                                                            <button class="btn btn-primary btn-lg" ng-click="changemyColor('#31b0d5')">
<!--                                                                <input type="radio" ng-model="myColor"  value="#31b0d5"></button>-->
                                                            <button class="btn btn-success btn-lg" ng-click="changemyColor('#5cb85c')"> 
<!--                                                                <input type="radio" ng-model="myColor"  value="#5cb85c"></button>-->
                                                        </div>

            <!--                                            <input type="text" ng-model="myColor" placeholder="enter a color name">-->

                                                    </div>
                                                </td>
                                        </tr>
                                       <tr>
                                        <td colspan="1">
                                           <label>Side</label> 
                                        </td>
                                        <td colspan="3">
                                          
                                           <div class="form-inline">
                                                <div class="btn-group" role="group">
                                                        <button class="btn btn-primary btn-lg" ng-click="changemyColorSide('#31b0d5')" >
<!--                                                        <input type="radio" ng-model="myColorSide"  value="#31b0d5"> -->
                                                       </button>
                                                       <button class="btn btn-success btn-lg" ng-click="changemyColorSide('#5cb85c')">
<!--                                                           <input type="radio" ng-model="myColorSide"  value="#5cb85c">-->
                                                       </button>
        <!--                                              <input type="text" ng-model="myColorSide" placeholder="enter a color name">-->

                                                </div>
                                            </div>
                                        </td>
                                       </tr>
                                        <tr>
                                        <td colspan="1">
                                           <label>BgColor</label> 
                                        </td>
                                        <td colspan="3">
                                           <div class="form-inline">

                                               <div class="btn-group" role="group">
                                                   <button class="btn btn-lg graybtn" ng-click="changemybgColor('#617992')">
<!--                                                       <input type="radio" ng-model="mybgColor"  value="#617992">-->
                                                   </button>
                                                   <button class="btn btn-lg micbtn" ng-click="changemybgColor('#CFD8D5')">
<!--                                                       <input type="radio" ng-model="mybgColor"  value="#CFD8D5">-->
                                                   </button>
    <!--                                              <input type="text" ng-model="myColorSide" placeholder="enter a color name">-->
                                               </div>
                                            </div>
                                        </td>
                                       </tr>
                                       
                                       
                                       </table>
                                       

                                          
                                    </div>
                                </div>
                     